<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{dd.MM.YYYY HH:mm:ss:SSS} %-5level] %msg%n"/>
        </Console>
        <File name="YukiLog" fileName="yuki.log" bufferedIO="false">
            <PatternLayout pattern="[%d{dd.MM.YYYY HH:mm:ss:SSS} %-5level] %msg%n"/>
        </File>

        <File name="YukiDebug" fileName="yukidebug.log" bufferedIO="false">
            <PatternLayout pattern="[%d{dd.MM.YYYY HH:mm:ss:SSS} %-5level] %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="YukiDebug"/>
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="de.mindcollaps.yuki" level="info">
            <AppenderRef ref="YukiLog"/>
        </Logger>
    </Loggers>
</Configuration>