<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] {%t %logger{36}}  - %msg%n"/>
        </Console>
        <File name="YukiLog" fileName="yuki.log" bufferedIO="false">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] - %msg%n"/>
        </File>

        <File name="YukiDebug" fileName="yukidebug.log" bufferedIO="false">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS} %-5level] {%t %logger{36}} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="debug" level="trace">
            <AppenderRef ref="YukiDebug"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="de.mindcollaps.yuki" level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="YukiLog"/>
            <AppenderRef ref="YukiDebug"/>
        </Logger>
        <Root level="trace">
        </Root>
    </Loggers>
</Configuration>